<div class="background"></div>
<div class="container">
  <div class="container">
    <div class="row"></div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <div class="card">
          <h4>Login</h4>
          <div class="card-form">
            <div class="form-row">
              <i class="material-icons">email</i>
              <mat-form-field color="accent">
                <input [(ngModel)]='username' matInput placeholder="Email address" type="text"/>
              </mat-form-field>
            </div>
            <div class="form-row">
              <i class="material-icons">lock_outline</i>
              <mat-form-field color="accent">
                <input [(ngModel)]='password' matInput placeholder="Password" type="password"/>
              </mat-form-field>
            </div>
          </div>
          <div class="card-footer">
            <button (click)="loginBtn()" mat-button>VALIDER</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
