<header>
  <div class="left">
    <h5>CréditRama</h5>
  </div>
  <div class="right">
    <a routerLink="/dashboard" routerLinkActive="router-active"><i class="material-icons">dashboard</i>
      <p>DASHBOARD</p></a>
    <a [routerLinkActiveOptions]="{exact: true}" routerLink="" routerLinkActive="router-active"><i
      class="material-icons">fingerprint</i>
      <p>LOGIN</p></a>
    <a routerLink="/register" routerLinkActive="router-active"><i class="material-icons">person_add</i>
      <p>REGISTER</p></a>
    <a routerLink="/lock" routerLinkActive="router-active" style="margin-right: 0"><i
      class="material-icons">lock_open</i>
      <p>LOCK</p></a>
  </div>
</header>
