<div [style.color]="normalFontColor" class="logo text-uppercase">
  <img alt="logo" class="logo-img" src="../../assets/img/creditrama-logo.png"/>
  CreditRama
</div>
<div [style.background-color]="dividerBgColor" class="divider"></div>
<div class="sidebar-wrapper">
  <div class="nav-container">
    <ul class="nav">
      <li #rla="routerLinkActive" *ngFor="let menuItem of menuItems" [ngClass]="rla.isActive? (menuItem.children === null? 'active' : '') : ''"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive>
        <a [routerLink]="[menuItem.path]" [style.background-color]="rla.isActive? color : 'transparent'"
           [style.color]="rla.isActive? activeFontColor : normalFontColor"
           [style.display]="menuItem.children === null? 'flex' : 'none'">
          <i class="material-icons">{{menuItem.icon}}</i>
          <span>{{menuItem.title}}</span>
        </a>
        <div [hidden]="menuItem.children === null" class="collapse-container">
          <a [href]="[menuItem.path]" [ngClass]="rla.isActive? 'parent-active' : ''" [style.color]="normalFontColor"
             class="collapse-a collapsed" data-toggle="collapse"
             style="padding: 0 15px;">
            <i class="material-icons">{{menuItem.icon}}</i>
            <span>{{menuItem.title}}</span>
            <b [style.color]="normalFontColor" class="caret"></b>
          </a>
          <div [id]="[menuItem.id]" class="collapse" id="component">
            <ul class="nav">
              <li #subrla="routerLinkActive" *ngFor="let subItem of menuItem.children" [ngClass]="subrla.isActive? 'active' : ''"
                  routerLinkActive>
                <a [routerLink]="[subItem.path]" [style.background-color]="subrla.isActive? color : 'transparent'"
                   [style.color]="subrla.isActive? activeFontColor : normalFontColor" style="height: 43px;">
                  <span style="margin-left: 5px; width: 21px;">{{subItem.icon}}</span>
                  <span>{{subItem.title}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
