<div class="container">
  <app-navbar title="Virement"></app-navbar>
  <div class="row" style="margin-top: 30px">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">attach_money</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Virement</h4>

          <mat-horizontal-stepper #stepper [linear]=true>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Choissisez votre compte émetteur</ng-template>
                <mat-form-field>
                  <mat-label>Compte émetteur</mat-label>
                  <mat-select [(value)]="selectedAccount" formControlName="sourceId" required>
                    <mat-option *ngFor="let account of myAccounts" [value]="account.iban">
                      {{account.iban}} - {{account.balance}}€
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Suivant</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Choissisez le compte bénéficiaire</ng-template>
                <mat-form-field>
                  <mat-label>Compte à créditer</mat-label>
                  <mat-select [(value)]="selectedRecipient" formControlName="destinationId" required>
                    <mat-option *ngFor="let recp of myRecipients" [value]="recp.iban">
                      {{  recp.firstName + ' ' + recp.lastName + ' - ' + ((recp.iban.length > 10) ? (recp.iban | slice:0:10) + '...' : recp.iban)}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Suivant</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="thirdFormGroup">
              <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Montant</ng-template>
                <mat-form-field>
                  <input formControlName="amount" matInput placeholder="Montant" required type="number" value=0>
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Suivant</button>
                </div>
              </form>
            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Récapitulatif</ng-template>
              <h3> Montant : {{this.thirdFormGroup.getRawValue().amount}}</h3>
              <div>
                <button mat-button matStepperPrevious>Précédent</button>
                <button (click)="transfer()" class="btn btn-rose" mat-button>Valider le virement</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>

          <!-- <div class="row">
            <div class="col-md-6">
              <label>My accounts:</label>
              <mat-select [(ngModel)]="selectedAccount" title="My accounts">
                <option *ngFor="let account of myAccounts">
                  {{account.bankAccountId}}
                </option>
              </mat-select>
            </div>
            <div class="col-md-6">
              <label>My recipients:</label>
              <select [(ngModel)]="selectedRecipient" title="My recipients">
                <option *ngFor="let recipient of myRecipients">
                  {{recipient}}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input matInput type="number" placeholder="Transfer amount" [(ngModel)]="transferAmount" value=0
                     name="transferAmount">
            </div>
          </div>
          <div class="row action-btn">
            <button (click)="transfer()" class="btn btn-rose">Transfer</button>
          </div>
        </div> -->
        </div>
      </div>
    </div>
  </div>
