<div class="container">
  <app-navbar title="Panels"></app-navbar>
  <div class="row page-title">
    <div class="col-md-6">
      <div class="card">
        <h4>Navigation Pills - <small>Horizontal Tabs</small></h4>
        <div class="h-tab">
          <div class="tab">
            <button (click)="tabClick($event, 'profile')" class="btn btn-warning btn-round tab-link default-active"
                    mat-raised-button>PROFILE
            </button>
            <button (click)="tabClick($event, 'settings')" class="btn btn-warning btn-round tab-link" mat-raised-button>
              SETTINGS
            </button>
            <button (click)="tabClick($event, 'options')" class="btn btn-warning btn-round tab-link" mat-raised-button>
              OPTIONS
            </button>
          </div>
          <div class="tab-content" id="profile">
            Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C
            users after installed base benefits.<br/><br/>
            Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively administrate
            empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base
            benefits.<br/><br/>
            This is very nice.
          </div>
          <div class="tab-content" id="settings">
            Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables
            for real-time schemas.<br/><br/>
            Dramatically maintain clicks-and-mortar solutions without functional solutions.
          </div>
          <div class="tab-content" id="options">
            Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate
            one-to-one customer service with robust ideas.<br/><br/>
            Dynamically innovate resource-leveling customer service for state of the art customer service.
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h4>Navigation Pills - <small>Vertical Tabs</small></h4>
        <div class="row v-tab page-title">
          <div class="col-md-4">
            <button (click)="vTabClick($event, 'one')" class="btn btn-info btn-round btn-block tab-link default-active"
                    mat-raised-button>PROFILE
            </button>
            <button (click)="vTabClick($event, 'two')" class="btn btn-info btn-round btn-block tab-link"
                    mat-raised-button>SETTINGS
            </button>
            <button (click)="vTabClick($event, 'three')" class="btn btn-info btn-round btn-block tab-link"
                    mat-raised-button>OPTIONS
            </button>
          </div>
          <div class="col-md-8">
            <div class="tab-content" id="one">
              Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C
              users after installed base benefits.<br/><br/>
              Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively
              administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after
              installed base benefits.<br/><br/>
              This is very nice.
            </div>
            <div class="tab-content" id="two">
              Efficiently unleash cross-media information without cross-media value. Quickly maximize timely
              deliverables for real-time schemas.<br/><br/>
              Dramatically maintain clicks-and-mortar solutions without functional solutions.
            </div>
            <div class="tab-content" id="three">
              Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate
              one-to-one customer service with robust ideas.<br/><br/>
              Dynamically innovate resource-leveling customer service for state of the art customer service.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
