<div *ngIf="transactions.length > 0;else no_transaction">
    <h4>Transactions history:</h4>
    <div class="mat-elevation-z8" >
        <table [dataSource]="dataSourceTransactions" mat-table>
            <ng-container matColumnDef="amount">
                <th *matHeaderCellDef mat-header-cell> Amount</th>
                <td *matCellDef="let element" mat-cell> {{element.amount}} </td>
            </ng-container>
    
            <ng-container matColumnDef="createdTransaction">
                <th *matHeaderCellDef mat-header-cell>Time (UTC)</th>
                <td *matCellDef="let element" mat-cell> {{element.createdTransaction | date: 'dd/MM/yyyy hh:mm:ss'}} </td>
            </ng-container>
    
            <ng-container matColumnDef="source">
                <th *matHeaderCellDef mat-header-cell>Source Iban</th>
                <td *matCellDef="let element" mat-cell> {{element.source.iban}} </td>
            </ng-container>
    
            <ng-container matColumnDef="dest">
                <th *matHeaderCellDef mat-header-cell>Destination Iban</th>
                <td *matCellDef="let element" mat-cell> {{element.dest.iban}} </td>
            </ng-container>
    
            <ng-container matColumnDef="transactionState">
                <th *matHeaderCellDef mat-header-cell> Transaction state</th>
                <td *matCellDef="let element" mat-cell> {{element.transactionState}} </td>
            </ng-container>
    
            <tr *matHeaderRowDef="transactionColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: transactionColumns;" mat-row></tr>
        </table>
    </div>
</div>
<ng-template #no_transaction>
    <h4>No transaction yet.</h4>
</ng-template>
