<h4 *ngIf="pending">Transactions en attente :</h4>
<h4 *ngIf="!pending">Historique des transactions :</h4>
<div *ngIf="transactions.length > 0;else no_transaction">
    <div class="mat-elevation-z8" >
        <table [dataSource]="dataSourceTransactions" mat-table>
            <ng-container matColumnDef="amount">
                <th *matHeaderCellDef mat-header-cell>Montant</th>
                <td *matCellDef="let element" mat-cell> {{element.amount}} </td>
            </ng-container>

            <ng-container matColumnDef="createdTransaction">
                <th *matHeaderCellDef mat-header-cell>Date et heure (UTC)</th>
                <td *matCellDef="let element" mat-cell> {{element.createdTransaction | date: 'dd/MM/yyyy hh:mm:ss'}} </td>
            </ng-container>

            <ng-container matColumnDef="source">
                <th *matHeaderCellDef mat-header-cell>Iban source</th>
                <td *matCellDef="let element" mat-cell> {{element.source.iban}} </td>
            </ng-container>

            <ng-container matColumnDef="dest">
                <th *matHeaderCellDef mat-header-cell>Iban destination</th>
                <td *matCellDef="let element" mat-cell> {{element.dest.iban}} </td>
            </ng-container>

            <ng-container matColumnDef="transactionState">
                <th *matHeaderCellDef mat-header-cell>Etat de la transaction</th>
                <td *matCellDef="let element" mat-cell> {{element.transactionState}} </td>
            </ng-container>

            <ng-container *ngIf="pending">
                <ng-container matColumnDef="validationCode">
                    <th *matHeaderCellDef mat-header-cell>Code de verification</th>
                    <td *matCellDef="let element; let i=index" mat-cell>
                        <mat-form-field>
                            <input [(ngModel)]="this.codes[i]" matInput placeholder="Enter code" type="number">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="button">
                    <th *matHeaderCellDef mat-header-cell>Bouton de validation</th>
                    <td *matCellDef="let element; let i=index" mat-cell>
                        <button (click)="this.transfer(i)">Confirm</button>
                    </td>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="pending; else history">
                <tr *matHeaderRowDef="pendingColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: pendingColumns;" mat-row></tr>
            </ng-container>

            <ng-template #history>
                <tr *matHeaderRowDef="historyColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: historyColumns;" mat-row></tr>
            </ng-template>
        </table>
    </div>
</div>
<ng-template #no_transaction>
    <h4>Aucune transaction.</h4>
    <br/>
</ng-template>
