<div class="container">
  <app-navbar title="Settings"></app-navbar>
  <div class="row" style="margin-top: 30px">
    <div class="col-md-10 col-md-offset-1">
      <h4 class="text-center text-uppercase">Sidebar Filters</h4>
      <div class="col-md-12 dot-row">
        <div (click)="filterChooseClick('#9c27b0')" class="dot purple btn-hover"></div>
        <div (click)="filterChooseClick('#00bcd4')" class="dot blue btn-hover"></div>
        <div (click)="filterChooseClick('#4caf50')" class="dot green btn-hover"></div>
        <div (click)="filterChooseClick('#ff9800')" class="dot orange btn-hover"></div>
        <div (click)="filterChooseClick('#f44336')" class="dot red btn-hover"></div>
        <div (click)="filterChooseClick('#fff')" class="dot white btn-hover"></div>
        <div (click)="filterChooseClick('#e91e63')" class="dot rose btn-hover"></div>
      </div>
    </div>

    <div class="col-md-10 col-md-offset-1">
      <h4 class="text-center text-uppercase">Sidebar Background</h4>
      <div class="col-md-12 dot-row">
        <div (click)="bgColorChooseClick('#D80B0B')" class="dot red btn-hover"></div>
        <div (click)="bgColorChooseClick('dodgerblue')" class="dot dodgerblue btn-hover"></div>
        <div (click)="bgColorChooseClick('#fff')" class="dot white btn-hover"></div>
        <div (click)="bgColorChooseClick('#000')" class="dot black btn-hover"></div>
      </div>
    </div>

    <div class="col-md-10 col-md-offset-1 background-image">
      <h4 class="text-uppercase text-center">SideBar Background Image</h4>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img (click)="bgChooseClick(0)" alt="sidebar-bg" class="sidebar-img btn-hover"
             src="../../../assets/img/sidebar-1.jpg"/>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img (click)="bgChooseClick(1)" alt="sidebar-bg" class="sidebar-img btn-hover"
             src="../../../assets/img/sidebar-2.jpg"/>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img (click)="bgChooseClick(2)" alt="sidebar-bg" class="sidebar-img btn-hover"
             src="../../../assets/img/sidebar-3.jpg"/>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img (click)="bgChooseClick(3)" alt="sidebar-bg" class="sidebar-img btn-hover"
             src="../../../assets/img/sidebar-4.jpg"/>
      </div>
    </div>
  </div>
</div>
